<!-------------------- LOGO -------------------->
<a href="#">
    <img src="../assets/createLogoWhite.png" class="createLogo" [@logoTransition]='logoStyle' [style.marginTop.px]="getImgMarginTop()"
    />
</a>
<!-------------------- LOGIN --------------------
<mat-card class="loginBox" [@hideLogin]='loginStyle'>

    <h1>Login</h1>
    
    <form class="login-form">
        <mat-form-field class="example-full-width">
          <input matInput placeholder="E-Mail" type="email">
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <input matInput placeholder="Password" type="password">
          </mat-form-field>
    </form>
<br>
    <button mat-button class="register" style="float:left;" (click)="hideLogin()">Register</button>
    <button mat-button class="login" style="float:right;" (click)="hideLogin()">Login</button>
    
</mat-card>


<!-------------------- UPLOAD --------------------
<mat-card class="upload" [@hideUpload]='hideUpload' [@showUpload]='uploadState' [@logoTransition]='state'>
    <h1>File Upload</h1>

    <hr class="card">
    
        <input id="file-field" name="file-field" (change)="uploadFile($event)" type="file" accept=".txt,.png" class="upload">
        
        <button mat-button class="upload" (click)="uploadFile($event)">Upload</button>
        
        <section class="upload">
            <mat-progress-bar
                [color]="color"
                [mode]="mode"
                [value]="value"
                [bufferValue]="bufferValue">
            </mat-progress-bar>
        </section>
    <br>
    <button mat-button style="float:right;" [disabled]="uploaded" (click)="uploadNext()">Next Step</button>
</mat-card>



<!-- Comments -->
<!-------------------- Timestamps ------------------------
<mat-card class="timeBox" [@showTimestamps]='timeBox'>-->
<mat-card class="timeBox mat-card" style="margin-bottom: 60px;">
    <h1>Timestamps</h1>

    <div class="gridList">
        <div class="right">
            <!--Videoview
            <img src="../assets/thumbnail_video.png" class="thumbnail_video">-->
            <button mat-button color="warn" (click)="export()">Export</button>
        </div>
        <div class="left">

            <mat-accordion *ngFor="let d of decisions">
                <mat-expansion-panel [expanded]="true" class="supDecision">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            {{d.title}}
                        </mat-panel-title>
                    </mat-expansion-panel-header>

                    <form #f="ngForm">
                        <table>
                            <tr>
                                <td style="padding-bottom: 5px;">Zeit</td>
                                <td></td>
                                <td>
                                    <mat-form-field style="width: 18px;">
                                        <input matInput [(ngModel)]="d.timestampMin" style="text-align: right;padding-right: 2px;" maxlength="2" name="Min" required pattern="([0-5]*[0-9])" />
                                    </mat-form-field>
                                </td>
                                <td style="padding-bottom: 5px;">:</td>
                                <td>
                                    <mat-form-field style="width: 18px;">
                                        <input matInput [(ngModel)]="d.timestampSek" maxlength="2" name="Sek" required pattern="([0-5][0-9])" />
                                    </mat-form-field>
                                </td>
                            </tr>
                        </table>
                    </form>

                    <mat-form-field>
                        <mat-select placeholder="Select Decision" [(ngModel)]="d.methodname" [disabled]="!f.form.valid">
                            <mat-option *ngFor="let s of subDecisions" [value]="s.value">
                                {{ s.viewValue }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    
                </mat-expansion-panel>


                <!-- Left Right -->
                <div *ngIf="d.methodname=='leftOrRight'">
                    <mat-expansion-panel class="subDecision" #panel1>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                {{d.title}} - Left
                            </mat-panel-title>
                        </mat-expansion-panel-header>

                        <form #fLeft="ngForm">
                            <table>
                                <tr>
                                    <td style="padding-bottom: 5px;">Zeit</td>
                                    <td></td>
                                    <td>
                                        <mat-form-field style="width: 18px;">
                                            <input matInput [(ngModel)]="d.timestampToAMin" style="text-align: right;padding-right: 2px;" maxlength="2" name="Min" required pattern="([0-5]*[0-9])" />
                                        </mat-form-field>
                                    </td>
                                    <td style="padding-bottom: 5px;">:</td>
                                    <td>
                                        <mat-form-field style="width: 18px;">
                                            <input matInput [(ngModel)]="d.timestampToASek" maxlength="2" name="Sek" required pattern="([0-5][0-9])" />
                                        </mat-form-field>
                                    </td>
                                </tr>
                            </table>
                        </form>

                        <br>
                        <div *ngIf="fLeft.form.valid" style="color: black;margin:0px; padding:0px;">Endet hier der Film?</div>
                        <div *ngIf="!fLeft.form.valid" style="color: gray;margin:0px; padding:0px;">Endet hier der Film?</div>
                        <br>
                        <button mat-button [disabled]="!fLeft.form.valid" (click)="endTrue()" >Ja</button>
                        <button mat-button [disabled]="!fLeft.form.valid" (click)="endFalse('Left')" (click)="panel1.expanded = true" (click)="panel1.expanded = false">Nein</button>
                        
                    </mat-expansion-panel>
                    <mat-expansion-panel class="subDecision" #panel2>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                {{d.title}} - Right
                            </mat-panel-title>
                        </mat-expansion-panel-header>

                        <form #fRight="ngForm">
                            <table>
                                <tr>
                                    <td style="padding-bottom: 5px;">Zeit</td>
                                    <td></td>
                                    <td>
                                        <mat-form-field style="width: 18px;">
                                            <input matInput [(ngModel)]="d.timestampToBMin" style="text-align: right;padding-right: 2px;" maxlength="2" name="Min" required pattern="([0-5]*[0-9])" />
                                        </mat-form-field>
                                    </td>
                                    <td style="padding-bottom: 5px;">:</td>
                                    <td>
                                        <mat-form-field style="width: 18px;">
                                            <input matInput [(ngModel)]="d.timestampToBSek" maxlength="2" name="Sek" required pattern="([0-5][0-9])" />
                                        </mat-form-field>
                                    </td>
                                </tr>
                            </table>
                        </form>

                        <br>
                        <div *ngIf="fRight.form.valid" style="color: black;margin:0px; padding:0px;">Endet hier der Film?</div>
                        <div *ngIf="!fRight.form.valid" style="color: gray;margin:0px; padding:0px;">Endet hier der Film?</div>
                        <br>
                        <button mat-button [disabled]="!fRight.form.valid" (click)="endTrue()">Ja</button>
                        <button mat-button [disabled]="!fRight.form.valid" (click)="endFalse('Right')">Nein</button>
                    </mat-expansion-panel>
                </div>

                <!-- Up Down -->
                <div *ngIf="d.methodname=='upOrDown'">
                <mat-expansion-panel class="subDecision">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                {{d.title}} - Up
                            </mat-panel-title>
                        </mat-expansion-panel-header>

                        <form #fUp="ngForm">
                            <table>
                                <tr>
                                    <td style="padding-bottom: 5px;">Zeit</td>
                                    <td></td>
                                    <td>
                                        <mat-form-field style="width: 18px;">
                                            <input matInput [(ngModel)]="d.timestampToAMin" style="text-align: right;padding-right: 2px;" maxlength="2" name="Min" required pattern="([0-5]*[0-9])" />
                                        </mat-form-field>
                                    </td>
                                    <td style="padding-bottom: 5px;">:</td>
                                    <td>
                                        <mat-form-field style="width: 18px;">
                                            <input matInput [(ngModel)]="d.timestampToASek" maxlength="2" name="Sek" required pattern="([0-5][0-9])" />
                                        </mat-form-field>
                                    </td>
                                </tr>
                            </table>
                        </form>

                        <br>
                        <div *ngIf="fUp.form.valid" style="color: black;margin:0px; padding:0px;">Endet hier der Film?</div>
                        <div *ngIf="!fUp.form.valid" style="color: gray;margin:0px; padding:0px;">Endet hier der Film?</div>
                        <br>
                        <button mat-button [disabled]="!fUp.form.valid" (click)="endTrue()">Ja</button>
                        <button mat-button [disabled]="!fUp.form.valid" (click)="endFalse('Up')">Nein</button>
                        
                    </mat-expansion-panel>
                    <mat-expansion-panel class="subDecision">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                {{d.title}} - Down
                            </mat-panel-title>
                        </mat-expansion-panel-header>

                        <form #fDown="ngForm">
                            <table>
                                <tr>
                                    <td style="padding-bottom: 5px;">Zeit</td>
                                    <td></td>
                                    <td>
                                        <mat-form-field style="width: 18px;">
                                            <input matInput [(ngModel)]="d.timestampToBMin" style="text-align: right;padding-right: 2px;" maxlength="2" name="Min" required pattern="([0-5]*[0-9])" />
                                        </mat-form-field>
                                    </td>
                                    <td style="padding-bottom: 5px;">:</td>
                                    <td>
                                        <mat-form-field style="width: 18px;">
                                            <input matInput [(ngModel)]="d.timestampToBSek" maxlength="2" name="Sek" required pattern="([0-5][0-9])" />
                                        </mat-form-field>
                                    </td>
                                </tr>
                            </table>
                        </form>

                        <br>
                        <div *ngIf="fDown.form.valid" style="color: black;margin:0px; padding:0px;">Endet hier der Film?</div>
                        <div *ngIf="!fDown.form.valid" style="color: gray;margin:0px; padding:0px;">Endet hier der Film?</div>
                        <br>
                        <button mat-button [disabled]="!fDown.form.valid" (click)="endTrue()">Ja</button>
                        <button mat-button [disabled]="!fDown.form.valid" (click)="endFalse('Down')">Nein</button>
                    </mat-expansion-panel>
                </div>

                <!-- A B -->
                <div *ngIf="d.methodname=='aOrB'">
                    <mat-expansion-panel class="subDecision">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                {{d.title}} - A
                            </mat-panel-title>
                        </mat-expansion-panel-header>

                        <form #fA="ngForm">
                            <table>
                                <tr>
                                    <td style="padding-bottom: 5px;">Zeit</td>
                                    <td></td>
                                    <td>
                                        <mat-form-field style="width: 18px;">
                                            <input matInput [(ngModel)]="d.timestampToAMin" style="text-align: right;padding-right: 2px;" maxlength="2" name="Min" required pattern="([0-5]*[0-9])" />
                                        </mat-form-field>
                                    </td>
                                    <td style="padding-bottom: 5px;">:</td>
                                    <td>
                                        <mat-form-field style="width: 18px;">
                                            <input matInput [(ngModel)]="d.timestampToASek" maxlength="2" name="Sek" required pattern="([0-5][0-9])" />
                                        </mat-form-field>
                                    </td>
                                </tr>
                            </table>
                        </form>

                        <br>
                        <div *ngIf="fA.form.valid" style="color: black;margin:0px; padding:0px;">Endet hier der Film?</div>
                        <div *ngIf="!fA.form.valid" style="color: gray;margin:0px; padding:0px;">Endet hier der Film?</div>
                        <br>
                        <button mat-button [disabled]="!fA.form.valid" (click)="endTrue()">Ja</button>
                        <button mat-button [disabled]="!fA.form.valid" (click)="endFalse('A')">Nein</button>
                        
                    </mat-expansion-panel>
                    <mat-expansion-panel class="subDecision">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                {{d.title}} - B
                            </mat-panel-title>
                        </mat-expansion-panel-header>

                        <form #fB="ngForm">
                            <table>
                                <tr>
                                    <td style="padding-bottom: 5px;">Zeit</td>
                                    <td></td>
                                    <td>
                                        <mat-form-field style="width: 18px;">
                                            <input matInput [(ngModel)]="d.timestampToBMin" style="text-align: right;padding-right: 2px;" maxlength="2" name="Min" required pattern="([0-5]*[0-9])" />
                                        </mat-form-field>
                                    </td>
                                    <td style="padding-bottom: 5px;">:</td>
                                    <td>
                                        <mat-form-field style="width: 18px;">
                                            <input matInput [(ngModel)]="d.timestampToBSek" maxlength="2" name="Sek" required pattern="([0-5][0-9])" />
                                        </mat-form-field>
                                    </td>
                                </tr>
                            </table>
                        </form>

                        <br>
                        <div *ngIf="fB.form.valid" style="color: black;margin:0px; padding:0px;">Endet hier der Film?</div>
                        <div *ngIf="!fB.form.valid" style="color: gray;margin:0px; padding:0px;">Endet hier der Film?</div>
                        <br>
                        <button mat-button [disabled]="!fB.form.valid" (click)="endTrue()">Ja</button>
                        <button mat-button [disabled]="!fB.form.valid" (click)="endFalse('B')">Nein</button>

                        <form #fBend="ngForm">
                            <table>
                                <tr>
                                    <td style="padding-bottom: 5px;">Zeit</td>
                                    <td></td>
                                    <td>
                                        <mat-form-field style="width: 18px;">
                                            <input matInput [(ngModel)]="d.timestampToBMin" style="text-align: right;padding-right: 2px;" maxlength="2" name="Min" required pattern="([0-5]*[0-9])" />
                                        </mat-form-field>
                                    </td>
                                    <td style="padding-bottom: 5px;">:</td>
                                    <td>
                                        <mat-form-field style="width: 18px;">
                                            <input matInput [(ngModel)]="d.timestampToBSek" maxlength="2" name="Sek" required pattern="([0-5][0-9])" />
                                        </mat-form-field>
                                    </td>
                                </tr>
                            </table>
                        </form>
                        <button mat-button [disabled]="!fBend.form.valid" (click)="endTrue()">Ok</button>
<!-- BEIM EXPORT SCHAUEN OB HIER NICHT ETWAS NICHT VALID IST -->
<!-- ZEILE 137   <button mat-button [disabled]="!fLeft.form.valid" (click)="endFalse('Left')" (click)="panel1.expanded = true" (click)="panel1.expanded = false">Nein</button> AUSFEILEN MIT PANEL EXPANDED ETC.


    
                    </mat-expansion-panel>
                </div>

            </mat-accordion>
        </div>
    </div>
</mat-card>